
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">상세 읽기 - @Model.NoteTitle</h3>
        </div>
    </div>

<div class="row">
    <div class="col-lg-10">
        <div class="Panel Panel-default">
            <div class="panel-heading">
                <label>제목 : </label> @Model.NoteTitle
            </div>
            <div class="Panel-body">
                @Html.Raw(Model.NoteContents) 
            </div>
            <div class="Panel-footer text-rigth">
                <a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
            </div>
        </div>
    </div>
</div>

